{% extends 'base.html.twig' %}

    {% block title %}Hello UtilisateurController!{% endblock %}

    {% block body %}
        <div class="header">
            <a href="#default" class="logo">ETSIL</a>
            <div class="header-right">
                <a href="{{ path("app_login")}}">Connexion</a>
            </div>
            </div>
        <div class="title">
        <p>Bienvenue sur le Site du groupe ETSIL</p>
        </div>
    {% endblock %}